*.cache
gpkey.json
private_keys
.snapcraft_cred

GoogleService-Info.plist
google-services.json
env.dart

node_modules
.idea
receiver.html
sender.html
dist
play.js
.env
playground.mjs
libs

lib/playground.dart

# Added these due to them getting marked
# as modified when building on windows
generated_plugin_registrant.cc
generated_plugin_registrant.h
generated_plugins.cmake
GeneratedPluginRegistrant.swift

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release