name: airdash
description: Share files anywhere
publish_to: "none"

version: 2.0.157+157

environment:
  sdk: ">=2.17.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  flutter_webrtc: ^0.11.0
  http: ^1.2.1
  path_provider: ^2.0.12
  share_plus: ^10.0.0
  shared_preferences: ^2.0.15
  receive_sharing_intent: ^1.6.0
  firedart: ^0.9.4
  url_launcher: ^6.1.8
  package_info_plus: ^8.0.0
  device_info_plus: ^10.1.0
  desktop_drop: ^0.4.4
  quick_look: ^0.1.0
  tray_manager: ^0.2.0
  window_manager: ^0.4.0
  mime: ^1.0.4
  sentry_flutter: ^8.1.0
  wakelock: ^0.6.1+2
  simple_peer:
    ^1.0.0
    #path: ./libs/simple_peer
  flutter_riverpod: ^1.0.4
  mixpanel_analytics: ^2.1.1
  dbus: ^0.7.8
  pasteboard: ^0.2.0
  file_selector: ^1.0.3

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  dart_jsonwebtoken: ^2.4.1
  icons_launcher: ^2.0.6

  flutter_lints: ^3.0.1
  test: ^1.21.1
  msix: ^3.6.2

dependency_overrides:
  win32: ^5.0.3
  http: ^1.2.1
  web: ^0.5.0

flutter:
  uses-material-design: true
  assets:
    - assets/

msix_config:
  display_name: AirDash
  publisher_display_name: Flownio
  publisher: CN=74819260-D638-4972-AE3E-CA996FB6EF34
  identity_name: 24192Flownio.AirDash
  logo_path: logo.png
  capabilities: internetClient
  store: true

icons_launcher:
  image_path: "assets/app_icon_rect.png"
  platforms:
    android:
      enable: true
      image_path: "assets/app_icon_round.png"
      adaptive_background_image: "assets/app_icon_background.png"
      adaptive_foreground_image: "assets/app_icon_foreground.png"
    ios:
      enable: true
    macos:
      enable: true
      image_path: "assets/app_icon_round_with_padding.png"
    windows:
      enable: true
      image_path: "assets/app_icon_round.png"
